body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 65px;
    border-left: tomato;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 40px;
    padding-right: 15%;
}
h4{
    font-size: 20px;
}
#top-border{
    border-left: 10px tomato;
}
.salmon-color{
    color: salmon;
}
.purple-color{
    color: violet;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 4%;
    border: 10px burlywood;
}
.half-width img{
    width: 65%;
    padding-left: 15%;
    padding-right: 15%;
}
.link-button{
    text-decoration: none;
    background-color: salmon;
    padding: 6px 20px;
    border-radius: 4px; 
    color: seashell;
    background-image: linear-gradient(salmon,tomato);
    
}
.link-button2{
    text-decoration: none;
    background-color: violet;
    padding: 6px 20px;
    border-radius: 4px; 
    color: seashell;
    background-image: linear-gradient(violet, purple);
}
.border{
    border: tomato;
}
.blue-color{
    color: rgb(55, 55, 92);
}
#left{
    margin-left: 27px;
}
#left-l{
    margin-left: 27px;
}
#align{
    text-align: center;

}
.center{
    margin-left: 50%;
    padding-left: 50%;
}
#top-border{
    border-left: 7px solid; 
    border-image: linear-gradient(tomato, salmon);
    border-image-slice: 2;
}
footer p {
    text-align: center;
}
 
.pad{
    padding-top: 3px;
    padding-left: 30px;
}